.cruises-container-page {
  display: inline-block;
  background-color: rgb(180,200,240);
}

.cruise-box-info {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  margin: 16px;
  align-items: center;
  justify-content: center;
}

.destination-image-full {
  height: 75%;
  width: 35%;
  min-width: 440px;
  max-width: 600px;
  min-height: 250px;
  max-height: 500px;
  border: 2px solid rgb(10,50,60);
}

.cruise-info-text {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  width: 44%;
  height: auto;
}

.cruise-name-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.room-cruise-info {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.cruise-cost {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bolder;
  color: rgb(120,80,20);
}

.cruise-destination {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.select-cruise-button {
  padding: 8px;
}

.cruise-info-text {
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
}
