.field-container {
  margin: 5% 10%;
  position: absolute;
  top: 12%;
  left: -6%;
  width: 40%;
}


.fieldset-background {
background-color: rgba(70,70,220,0.35);
padding-top: -5px;
}


.account-login-button {
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(10,10,90);
  color: white;
  margin-bottom: 6px;
  margin-left: 128px;
  margin-right: 3px;
  margin-top: 6px;
}

.account-login-button:hover {
  padding: 8px;
  margin-bottom: 0px;
  margin-left: 125px;
  margin-right: 0px;
  margin-top: 3px;
}


.field-container-score {
  margin: 4% 8%;
  width: 80%;
}
